.form_render{
    width: 345px;
}

.login_signup{
    height: 100vh;
    width: 40%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.login_signup form{
    display: inline-block;
}


/* MOBILE PORTRAIT */
@media (min-width: 320px) and (max-width: 480px){

    .login_signup{
        width: 100%;
    }

}