.form_render{
    width: 345px;
}

.login_signup{
    height: 100vh;
    width: 40%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.login_signup form{
    display: inline-block;
}


/* MOBILE PORTRAIT */
@media (min-width: 320px) and (max-width: 480px){

    .login_signup{
        width: 100%;
    }

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
    .login_signup{
        width: auto;
        margin-top: 22px;
        line-height: 12px;
        height: 165vh;
    }

    .login_signup h1{
        font-size: xx-large;
        margin-bottom: 22px;
    }

    label{
        margin-bottom: .75rem;
        margin-top: .5rem;
    }
}