.home{
    text-align: center;
    height: 100vh;
}


.home_jumbotron{
    display: inline-block;
    padding: 1em 5em;
    height: 90vh;
}

.home_jumbotron p{
    font-size: 18px;
}

.about_header{
    line-height: 6rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;

}

.chunky_footer{
    height: 28%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    overflow-x: scroll;
    width: 100vw;
}

.chunky_footer img{
    width: 20%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-bottom: 5px;
    cursor: pointer;
    height: 13em;
    object-fit: cover;
    object-position: 20% 10%;
}



/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){


    .about_header{
        line-height: 1em;
        font-size: 24px;
    }

    .home_jumbotron{
        padding: .5em 1em 0em;
        height: min-content;
    }

    .home_jumbotron p {
        line-height: normal;
        font-size: 19px;
    }
}



/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){

    .about_header{
        line-height: 1em;
        font-size: 24px;
    }

    .home_jumbotron{
        padding: .5em 1em 0em;
        height: min-content;
    }

    .home_jumbotron p {
        line-height: 20px;
        font-size: 17px;
    }

    .chunky_footer{
        display: none;
    }
}



/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){


}


/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}