.home{
    text-align: center;
}

.home_jumbotron{
    display: inline-block;
    width: 60%;
}

.home_jumbotron p{
    font-size: 18px;
}

.about_header{
    line-height: 6rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}

.chunky_footer{
    display: flex;
    flex-direction: row;
}

#product1 {
    width: 325px;
    height: 420px;
}

#product2{
    width: 325px;
    height: 420px;
}

#product3{
    width: 320px;
}
