.home{
    text-align: center;
}

.darkHome{
    height: 100vh;
    text-align: center;
    background-color: rgb(27, 24, 34);
    color: #cbb575;
}

.home_jumbotron{
    display: inline-block;
    width: 60%;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.home_jumbotron p{
    font-size: 18px;
}

.about_header{
    line-height: 6rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}

.chunky_footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

#product1 {
    width: 20%;
    height: 340px;
}

#product2{
    width: 20%;
    height: 340px;
}

#product3{
    width: 20%;
    height: 340px;
}

#product4{
    width: 20%;
    height: 340px;
}

#product5{
    width: 20%;
    height: 340px;
}
