.product{
    overflow-y: scroll;
    height: 100vh;
    text-align: start;
    padding: 30px 45px 25px 75px;
}

.darkProduct{
    overflow-y: scroll;
    height: 105vh;
    text-align: start;
    padding: 30px 45px 25px 75px;
    background-color: rgb(27, 24, 34);
    color: #cbb575;
}

.darkProduct button{
    background-color: #8f59f2;
}

.darkProduct .back_to_prd{
    background-color: #8f59f2;
}

.product_section{
    display: flex;
    flex-direction: row;
}

.info_div{
    width: 60%;
    display: inline-block;
    margin-left: 60px;
    padding-top: 20px;
}

.p_name{
    width: 100%;
}

.p_brand{
    width: 50%;
    display: inline-block;
}
.p_photo{
    margin-top: 20px;
    /* margin-right: 40px; */
    width: 35%;
    float: left;
}
.p_description{
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

.back_to_prd{
    border-radius: 20px;
}

.text_area{
    width: 55%;
}

.text_area_div{
    display: flex;
    flex-direction: column;
    
}

.review_btn{
    width: 85px;
}

.rvw{
    display: flex;
    flex-direction: row;
    line-height: 1rem;
    padding-left: 15px;
}

.review_div{
    width: 85%;
}

#content{
    width: 75%;
    padding-top: 10px;
}


#review_header{
    border-bottom-style: ridge;
    border-bottom-color: thistle;
    border-bottom-width: thin;
    padding-left: 15px;
    margin-top: 28px;
    margin-bottom: 10px;
}

#user_info{
    padding-left: 30px;
    border-left: solid;
    border-left-width: thin;
    border-left-color: #ffffff42;
    padding-top: 15px;
}