.p_card_div{
    display: inline-block;
    
}

.p_card{
    display: inline-flex;
}

.p_card_brand{
    color: rgb(20, 0, 12);
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}

.p_card_name{
    color: rgb(20, 0, 12);
    
}


.bookmark_btn{
    border-radius: 15px;
    font-family: 'Josefin Slab', serif;
}