.product_list{
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.tab-content{
    overflow-y: scroll;
    height: 100vh;
}

/* MOBILE PORTRAIT */
@media (min-width: 320px) and (max-width: 480px){

    .product_list{
        padding: 0;
    }

    .nav-tabs{
        font-size: 16px;
        padding-left: 10px;
    }

    .nav-link {
        padding: 5px 8px;
    }

    nav a{
        color: rgb(1 157 144);
    }

    .tab-content{
        padding-top: 1em;
    }

    .tab-content h1{
        font-variant: petite-caps;
        font-size: 1.9rem;
    }

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
    .product_list{
        padding: 0;
    }

    .nav-tabs{
        padding-left: 19%;
        font-size: large;
    }

    .nav-link {
        padding: 5px 8px;
    }
}