.profile_div{
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.darkProfile_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 24, 34);
    color: #cbb575;
}

.profile_sideNav{
    /* display: inline-block; */
    float: left;
    align-items: center;
    height: 100vh;
    width: 300px;
    background: aliceblue;
    padding-top: 50px;
    font-family: 'Playfair Display SC', serif;
}

/* .darkProfile_sideNav{
    float: left;
    align-items: center;
    height: 100vh;
    width: 300px;
    background: #2b192e;
    padding-top: 50px;
} */

.btn_grp{
    width: 180px;
    height: 27%;
    margin-bottom: 235px;
    text-align: center;
}

#back_to_prd{
    padding-top: 20px;
}

.profile_content{
    /* display: inline-block; */
    height: 100%;
    width: 90%;
    padding-top: 40px;
    /* border-bottom: solid;
    border-bottom-style: double;
    border-bottom-color: aqua;
    padding-bottom: 10px; */
}

#greeting{
    margin: 15px;
    border-bottom: solid;
    border-bottom-style: double;
    border-bottom-color: aqua;
    padding-bottom: 10px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    
}

#greeting2{
    margin-top: 15px;
    margin-bottom: 15px;
}

#greeting3{
 
    margin-top: 15px;
    margin-bottom: 15px;
}

#bg-vertical-dropdown-1-profile{
    height: 80px;
}


.mini_card_div{
    width: 100%;
    height: 750px;
    overflow-y: scroll;
    /* display: inline-flex;*/
}


.miniCard{
    display: flex;
    padding: 25px 25px 5px 35px;
    flex-wrap: wrap;
}

.mini{
    margin: 5px;
}

.prd_name{
    font-size: 16px;
    color: rgb(83, 11, 83);
    
}

.prd_brand{
    font-family: 'Abril Fatface', cursive;
    
}

.card-text{
    font-size: 18px;
}

#delete_list{
 margin-top: 35px
}
#delete_accnt{
    margin-left: 72px;
    display: flex;
    position: absolute;
    bottom: 50px;
}