.topnav{
    background: #dfd0fa;
     /* #ffdae0; */
    justify-content: space-between;
}

.brand_text{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 32px;
    padding: 0px;
}

.profile_btn{
    margin-right: 10px;
    border-radius: 25px;
    font-size: medium;
    border-width: 2px;
    border-color: #c9faff;
    padding: 2px;
}

.profile_btn:hover, .profile_btn:focus{
    border-color: #c9faff;
    background: #c9faff;

}

.topnav_btn_div{
    font-family: 'Merriweather', serif;
}


/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){

    .brand_text{
        font-size: 1em;
    }




}



/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
   
}


/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){


}


/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
