.topnav{
    background: #dfd0fa;
     /* #ffdae0; */
    justify-content: space-between;
}

.brand_text{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 32px;
    padding: 0px;
}

.profile_btn{
    margin-right: 10px;
    border-radius: 25px;
    font-size: medium;
    border-width: 2px;
    border-color: #c9faff;
    padding: 2px;
}

.profile_btn:hover, .profile_btn:focus{
    border-color: #c9faff;
    background: #c9faff;

}

.topnav_btn_div{
    font-family: 'Merriweather', serif;
}


/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){

    .brand_text{
        font-size: 1.1em;
        margin-left: 6%;
        margin-bottom: 1%;
    }

    .profile_btn{
        font-size: 12px;
        margin-right: 6px;
    }

    .profile_btn a{
        padding: 4px;
    }

    .topnav{
        padding: .5rem 0.2rem;
    }

    .navbar-brand{
        font-size: 1.05rem;
    }

}



/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){

    .topnav{
        height: 49px;
    }

    .nav-link{
        padding: .1rem .2rem;
    }
}


/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){


}


/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
